html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: block;
    color: white;
    background-color: black;
    padding: 0;
    height: 200px;
    text-align: center;
    vertical-align: middle;
}

h1 {
    margin: 0;
    position: relative;
    top: 40%;
}